@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body{
    font-family: 'Roboto', sans-serif;
}

html{
    background-color: #E5E5E5;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 347px;
    width: 655px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 27px 49px -25px rgba(0, 0, 0, 0.3);
}

.container .img{
    height: 293px;
    width: 278px;
    position: absolute;
    transform: translateX(-90px);
}

.container .faq{
    width: 90%;
    padding-left: 225px;
}

.container .faq .title{
    font-weight: 700;
    font-size: 2.5rem;
}

.faq .question .title-question{
    font-weight: 500;
    font-size: 1.7rem;
    width: 90%;
    transition: 0.2s ease;
    padding-bottom: 15px;
}

.faq .question .title-question:hover{
    color: #f47c57;
}

.container .faq .text{
    display: none;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.container .faq .questions .question.show .text{
    display: block;
}

.faq .question{
    cursor: pointer;
    background-image: url(../images/arrow-off.png);
    background-repeat: no-repeat;
    background-position: top 8px right 0;
    background-size: 12px;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.questions .question:last-child {
    border-bottom: none;
}

.questions .question.show{
    background-image: url(../images/arrow-on.png);
}
