@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    font-family: 'Manrope';
    font-weight: 800;
    background-color: var(--background-color);
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.advice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 345px;
    background-color: var(--advice-card-color);
    border-radius: 10px;
}

.advice .advice-id{
    margin-top: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--advice-dice-color);
}

.advice .advice-text{
    font-size: 23px;
    padding: 23px;
    color: var(--text-color);
    text-align: center;
}

.advice .advice-update{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--advice-dice-color);
    transform: translateY(50%);
}

.advice .advice-update:hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-color);
}



