@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Public Sans';
    max-height: 100vh;
}

.menu{
    height: 60px;
    max-width: 100%;
    margin: 40px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo .logo-text{
    color: #000;
    font-size: 20px;
    font-weight: 800;
}

.logo .logo-img{
    height: 42px;
    width: 45px;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.navbar .nav-link{
    font-size: 15px;
    font-weight: 400;
    color: #000;
    padding: 11px 7px;
}

.navbar .nav-link:hover{
    color: #FFFF;
    background-color: var(--background-color);
}

.navbar .nav-button{
    color: #FFFF;
    background-color: var(--background-color);
    font-size: 15px;
    font-weight: 300;
    padding: 9px 21px;
    border-radius: 10px;
    border: none;
}
